:root {
  --scale-ratio: 0.68;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.App {
  background-color: rgb(73, 73, 73);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-container, .foot-container {
  text-align: center;
  z-index: 2;
}

h1, h2 {
  color: white;
  font-size: calc(3vh * var(--scale-ratio));
}

h2 {
  font-size: calc(2.5vh * var(--scale-ratio));
  font-style: italic;
  margin-bottom: calc(0.5vh * var(--scale-ratio));
}

a {
  color: white;
  font-size: calc(2.5vh * var(--scale-ratio));
}

.logo-container {
  margin-top: calc(1.5vh * var(--scale-ratio));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height: calc(6vh * var(--scale-ratio));
  width: auto;
}

.App > img {
  position: absolute;
  height: 76%;
  filter: drop-shadow(0 0 10vh white);
}

.calc-container-outer {
  padding: calc(2vh * var(--scale-ratio)) 0;
  position: relative;
  bottom: calc(3vh * var(--scale-ratio));
  right: calc(0.7vh * var(--scale-ratio));
  border-radius: calc(4.8vh * var(--scale-ratio));
  aspect-ratio: 9 / 19.5;
  height: 68%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.205)
}

.calc-container {
  position: relative;
  bottom: calc(2vh * var(--scale-ratio));
  aspect-ratio: 9 / 16;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto auto auto auto;
  grid-gap: calc(2vh * var(--scale-ratio));
  padding: calc(3vh * var(--scale-ratio));
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-end: span 4;
}

.display p {
  margin: calc(1vh * var(--scale-ratio));
  color: white;
}

.small {
  font-size: calc(5.6vh * var(--scale-ratio));
}

.medium {
  font-size: calc(6.4vh * var(--scale-ratio));
}

.large {
  font-size: calc(7.2vh * var(--scale-ratio));
}

.x-large {
  font-size: calc(8vh * var(--scale-ratio));
}

button {
  aspect-ratio: 1 / 1;
  font-size: calc(4.5vh * var(--scale-ratio));
  background-color: gray;
  border: none;
  color: white;
  border-radius: 50%;
}

button:hover {
  box-shadow: 0 0 10px 5px white;
  cursor: pointer;
}

button.top-row {
  font-size: calc(3.5vh * var(--scale-ratio));
  background-color: lightgray;
  color: black;
}

button.operator {
  font-size: calc(5.5vh * var(--scale-ratio));
  background-color: orange;
}

button:active {
  filter: brightness(120%);
}

button.operator-active {
  font-size: calc(6vh * var(--scale-ratio));
  background-color: white;
  color: orange;
}

.zero {
  grid-column-end: span 2;
  aspect-ratio: auto;
  border-radius: calc(10vh * var(--scale-ratio));
  text-align: left;
  padding-left: calc(3vh * var(--scale-ratio));
}

#minus {
  padding-bottom: calc(0.8vh * var(--scale-ratio));
}
