:root {
  font-size: 9px;
}

// Resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

// Colour variables
$orange: rgb(255, 166, 0);
$bg-grey: rgb(73, 73, 73);
$grey-outline: rgba(255, 255, 255, 0.205);

.App {
  background-color: $bg-grey;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img {
    position: absolute;
    height: 48rem;
    width: auto;
    filter: drop-shadow(0 0 5rem white);
  }

  .calc-container-outer {
    position: relative;
    bottom: 1.35rem;
    right: 0.35rem;
    border-radius: 2.3rem;
    height: 43rem;
    width: calc(20rem + 2px);
    background-color: black;
    padding: 1rem 0;
    border: 1px solid $grey-outline;

    .head-container {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      h1 {
        color: white;
        font-size: 1.5rem;
      }

      .logo-container {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .logo {
          height: 3rem;
          width: auto;
        }
      }
    }

    .calc-container {
      height: 33rem;
      width: 20rem;
      background-color: black;
      display: grid;
      grid-template-columns: 4rem 4rem 4rem 4rem;
      grid-template-rows: auto 4rem 4rem 4rem 4rem 4rem;
      grid-gap: 0.625rem;
      padding: 1rem;
      margin-bottom: 0.25rem;

      .display {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        grid-column-end: span 4;

        p {
          margin: 0.5rem;
          color: white;

          &.small {
            font-size: 2.6em;
          }

          &.medium {
            font-size: 3rem;
          }

          &.large {
            font-size: 3.4rem;
          }

          &.x-large {
            font-size: 4rem;
          }
        }
      }

      button {
        font-size: 2rem;
        font-family: inherit;
        background-color: gray;
        color: white;
        border: none;
        border-radius: 50%;

        &.top-row {
          font-size: 1.6rem;
          padding-bottom: 0.3rem;
          background-color: lightgray;
          color: black;
        }

        &.operator {
          font-size: 2.5rem;
          padding-bottom: 0.4rem;
          background-color: $orange;
        }

        &.active {
          background-color: white;
          color: $orange;
        }

        &#zero {
          grid-column-end: span 2;
          border-radius: 2rem;
          text-align: left;
          padding-left: 1.4rem;
        }

        &:hover {
          cursor: pointer;
        }

        &:active {
          filter: brightness(125%);
        }
      }
    }

    .foot-container {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      h2 {
        color: white;
        font-size: 1rem;
        font-weight: 600;
        font-style: italic;
      }

      a {
        color: white;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}

@media screen and (min-width: 360px) and (min-height: 580px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (min-height: 800px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 600px) and (min-height: 1025px) {
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (min-height: 1200px) {
  :root {
    font-size: 24px;
  }
}
